<section class="ui center main">
    <h1><%= @event.name %></h1>
    <p><a href="<%= @event.link %>" target="_blank"><%= @event.link %></a></p>
    <p>Location: <%= @event.location %></p>
    <p>Description: <%= @event.description %></p>

    <h2>Companies</h2>
    <div class="ui list">
        <% @event.companies.order(:name).each do |company| %>
            <div class="ui item"><%= link_to(company.name, event_company_path(event_id: params[:id], id: company)) %></div>
        <% end %>
        <% if current_user.recruiter %>
            <div class="ui item"><%= link_to '+ Add New Company', new_event_company_path(@event) %></div>
        <% end %>
    </div>

    <section class="ui">
        <%= link_to 'Back', events_path %>
    </section>
</section>
