<!DOCTYPE html>
<html>
  <head>
    <title>Career Fair Queue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img id="headerlogo" src="https://its.umich.edu/sites/all/themes/bootstrap_its/images/its-logo%403x.png" alt="U-M Information and Technology Services">
    <section id="login" class="ui center">
        <% if current_user %>
            Logged in as <%= current_user.first_name %> <%= current_user.last_name %>
            <% 1.times do %>
                &nbsp;
            <% end %>
            <%= link_to 'Log Out', logout_path, class: "ui button" %>
        <% else %>
            <%= link_to 'Sign Up', signup_path, class: "ui button" %>
            <%= link_to 'Log In', login_path, class: "ui button" %>
        <% end %>
    </section>
    <%= yield %>
  </body>
</html>
